#classes .row {
	width: 100%;
	height: calc(100% - 80px);
}
#classes .col-md-3 {
	height: 100%;
}

.classList {
	border: solid 1px black;
	height: 100%;
	overflow: scroll;
}

.classList ul {
	padding-left: 0;
	list-style-type: none;
}

.classItem {
	cursor: default;
	padding: 5px;
	transition: all 0.2s;
	position: relative;
}
.classItem:hover {
	background-color: rgb(200, 200, 200);
}
.classItem i {
	color: rgb(60, 60, 60);
	cursor: pointer;
	position: absolute;
	top: 9px;
	right: 5px;
	transition: all 0.2s;
	opacity: 0;
}
.classItem .fa-arrows-v {
	top: 8px;
	right: 25px;
}
.classItem:hover i {
	opacity: 1;
}
.classItem i:hover {
	color: rgb(10, 10, 10);
}

.className {
	font-size: 16px;
}
.classTeacher {
	font-size: 12px;
}

#classModal .modal-body .form-control {
	width: 300px;
}
#className {
	font-size: 18px;
}

#classSwapOptions {
	list-style-type: none;
	padding: 0;
}
.classSwapItem {
	border: solid 1px black;
	cursor: pointer;
	width: 300px;
	height: 40px;
	margin-left: 0;
	margin-bottom: 10px;
	padding: 10px;
	transition: all 0.2s;
}
.classSwapItem:hover {
	background: rgb(200, 200, 200);
}