.mitClassSections
	.mitClassSectionsName
		margin-bottom: 0.5rem

		.btn
			margin-top: -0.3rem
			margin-left: 0.5rem

	.mitClassSectionGroup
		.mitClassSectionGroupTitle
			font-size: 1.6rem
			font-weight: bold
			margin-bottom: 0.5rem

		.mitClassSection
			margin-bottom: 0.5rem

			input
				vertical-align: top

			.mitClassSectionInfo
				display: inline-block
				font-weight: normal
				margin-left: 0.5rem
				max-width: 80%
				vertical-align: middle

				.mitClassSectionDetails
					font-size: 1.2rem