<div class="container">
	<h1>About MyHomeworkSpace</h1>
	<p class="lead">MyHomeworkSpace helps you plan and organize your life. It provides an online planner along with tools to help make sure you never fall behind on your homework, tests, or quizzes. Currently, it's only available to Dalton students, but we are working on expanding it!</p>

	<h2>Team</h2>
	<div class="row aboutNames">
		<div class="col-md-4">
			<h3>Alexander Studer</h3>
			<p class="lead">Class of 2019</p>
			<ul>
				<li><i class="fa fa-envelope"> </i><a href="mailto:astuder@myhomework.space"> astuder@myhomework.space</a></li>
				<li><i class="fa fa-github"> </i><a href="https://github.com/thatoddmailbox"> thatoddmailbox</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>William Barkoff</h3>
			<p class="lead">Class of 2020</p>
			<ul>
				<li><i class="fa fa-envelope"> </i><a href="mailto:wbarkoff@myhomework.space"> wbarkoff@myhomework.space</a></li>
				<li><i class="fa fa-github"> </i><a href="https://github.com/nywillb"> nywillb</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>William Weinstein</h3>
			<p class="lead">Class of 2019</p>
			<ul>
				<li><i class="fa fa-envelope"> </i><a href="mailto:wweinstein@myhomework.space"> wweinstein@myhomework.space</a></li>
				<li><i class="fa fa-github"> </i><a href="https://github.com/willweinstein"> willweinstein</a></li>
			</ul>
		</div>
	</div>
	<div class="row aboutNames">
		<div class="col-md-4">
			<h3>Alex Mazansky</h3>
			<p class="lead">Class of 2022</p>
			<ul>
				<li><i class="fa fa-envelope"> </i><a href="mailto:amazansky@myhomework.space"> amazansky@myhomework.space</a></li>
				<li><i class="fa fa-github"> </i><a href="https://github.com/RobotXLabs"> RobotXLabs</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Emlyn Mileaf-Patel</h3>
			<p class="lead">Class of 2019</p>
			<ul>
				<li><i class="fa fa-envelope"> </i><a href="mailto:emileafpatel@myhomework.space"> emileafpatel@myhomework.space</a></li>
				<li><i class="fa fa-github"> </i><a href="https://github.com/em-p"> em-p</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Joshua Fielding</h3>
			<p class="lead">Class of 2019</p>
			<ul>
				<li><i class="fa fa-envelope"> </i><a href="mailto:jfielding@myhomework.space"> jfielding@myhomework.space</a></li>
				<li><i class="fa fa-github"> </i><a href="https://github.com/medensqui"> medensqui</a></li>
			</ul>
		</div>
	</div>

	<h2>GitHub contributors</h2>
	<p>We'd also like to thank the following people for contributing to the MyHomeworkSpace repository on GitHub. Want your name here? <a href="https://github.com/MyHomeworkSpace/client">Contribute!</a></p>
	<ul>
		<li><a href="https://github.com/OnlyTwentyCharacters">OnlyTwentyCharacters</a></li>
	</ul>

	<h2>Used images</h2>
	<ul>
		<li>Bell by Edward Boatman from the Noun Project</li>
		<li>Address Book by Noe Araujo from the Noun Project</li>
		<li>Book Icon from the <a href="http://www.iconarchive.com/show/colorful-long-shadow-icons-by-graphicloads/Book-icon.html">Icon Archive</a></li>
	</ul>

	<h2>Acknowledgements</h2>
	<p>MyHomeworkSpace is built with these open-source projects. Without them, what you see here would not have been possible.</p>
	<ul>
		<li><a href="https://golang.org/">Go</a></li>
		<li><a href="https://echo.labstack.com/">Echo</a></li>
		<li><a href="https://mysql.com/">MySQL</a></li>
		<li><a href="https://harpjs.com/">Harp</a></li>
		<li><a href="https://jquery.com/">jQuery</a></li>
		<li><a href="https://jqueryui.com/">jQuery UI</a></li>
		<li><a href="https://getbootstrap.com/">Bootstrap</a></li>
		<li><a href="http://fontawesome.io/">Font Awesome</a></li>
		<li><a href="https://modernizr.com/">Modernizr</a></li>
	</ul>
</div>
