<!-- https://raw.githubusercontent.com/MyHomeworkSpace/MyHomeworkSpace/master/public/images/mysteriousImage.jpg -->
<div id="particles-js"></div>
<script src="js/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', 'js/particles.json', function() {
    console.log('callback - particles.js config loaded');
    });
</script>