.adminListItem
	background: white
	border-radius: 3px
	border: solid 1px #cbcccd
	border-left-width: 4px
	border-top-left-radius: 0
	border-bottom-left-radius: 0
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18)
	padding: 0.8rem
	padding-right: 30px
	margin-bottom: 1.2rem
	position: relative
	transition: all 0.2s
	cursor: pointer

.adminListName
	font-size: 16px
	font-weight: 500

.adminListItem:hover
	background-color: rgb(200, 200, 200)