.calendarRow
	padding: 0 15px 0 15px
	margin-bottom: 1.25rem

	.calendarRowTitle
		font-size: 21px
		margin-bottom: 1rem

	.calendarRowEvents
		flex: none
		display: flex
		flex-direction: row
		overflow: hidden

		.calendarEvent
			position: static
			height: 70px !important //overriding the inline style at CalendarEvent.jsx:77
			width: 200px !important 
			top: 0
			left: 0
			margin-right: 10px
			border-left: 2px #555 solid
			cursor: default

			.calendarEventDurationLine
				display: none

		.noEvents
			height: 70px
			width: 200px
			min-width: 200px
			border: 1px #ccc solid
			display: flex
			justify-content: center
			align-items: center

		.calendarEvent:not(.calendarEventCancelled):hover
			border-right: none 
			border-bottom: none
			border-top: none
			margin-top: auto

		.calendarEvent.calendarEventCancelled:hover
			border-right: dashed 1px #555555
			border-bottom: dashed 1px #555555
			border-top: dashed 1px #555555
