.homeworkColumn
	h2.overdue
		color: red

	.homeworkColumnMarkColumn
		display: inline-block
		color: #555
		cursor: pointer
		font-size: 14px
		margin-left: 4px

	.homeworkColumnMarkColumn:hover
		color: #222

	.homeworkList
		border: solid 1px black
		height: 100%
		overflow: scroll

		ul
			padding-left: 0

.homeworkColumn.halfHeight:nth-child(2)
	margin-top: 60px

.homeworkColumn.halfHeight
	flex-grow: 1

@media (max-width: 992px)
	.homeworkColumn
		margin-bottom: 60px