.homeworkColumn
	padding-bottom: 20px

	.homeworkColumnContainer
		height: 100%
		display: flex
		flex-direction: column

	.homeworkColumnTitle
		font-size: 21px
		margin-top: 20px
		margin-bottom: 10px

	.homeworkColumnTitle.overdue
		color: red

	.homeworkColumnMarkColumn
		display: inline-block
		color: #555
		cursor: pointer
		font-size: 14px
		margin-left: 4px

	.homeworkColumnMarkColumn:hover
		color: #222

	.homeworkList
		height: 100%
		overflow-y: auto

		ul
			padding-left: 0

.homeworkColumn.halfHeight
	flex: 1 1 100%
	overflow-x: hidden
	overflow-y: hidden

.homeworkColumn.halfHeight.top
	padding-bottom: 0

@media (max-width: 992px)
	.homeworkColumn
		margin-bottom: 60px