.homeworkModal
	.modal-body
		.homeworkModalName, .pickerContainer, .pickerContainer .picker, textarea
			width: 300px

		.homeworkModalName
			font-size: 18px
			height: 34px

			input[type=text]
				font-size: 18px

		.pickerContainer
			display: block

		.homeworkModalDesc
			min-width: 400px
			min-height: 150px