.homeworkModal
	.modal-body
		.homeworkModalBody
			display: grid
			grid: 1fr 1fr 4fr / 1fr 1fr 1fr 1fr 1fr 1fr // stylus doesn't support repeat() :(
			gap: 5px

			.homeworkModalNameWrapper
				grid-row: 1 / span 1
				grid-column: 1 / span 5

			.doneCheckbox
				display: flex
				justify-content: center
				align-items: center

			.dueClassIdRow
				display: grid
				grid: 1fr / 1fr 1fr
				width: 100%

			.datePicker, .classPicker
				grid-column: span 3

			.homeworkModalName, .pickerContainer, .pickerContainer .picker, .pickerContainer .pickerContents .datePickerCalendar, textarea
				width: 100%

			.homeworkModalName
				font-size: 18px
				height: 34px

				input[type=text]
					font-size: 18px

			.pickerContainer
				display: block

			.homeworkModalDesc
				min-width: 400px
				min-height: 150px
				grid-column: 1 / span 6
