@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900';

html, body {
	background-image: url("../img/backgrounds/bg1.jpg");
	background-size: cover;
	transition: background-image ease-in-out 0.3s;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#workingOverlay {
	background: black;
	color: white;
	font-size: 1.5em;
	opacity: 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	text-align: center;
	padding-top: 10px;
	transition: opacity 0.2s;
}

.tooltip {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.page {
	width: 100%;
	height: calc(100% - 50px);
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 50px;
	left: 0;

	padding-left: 10px;
	/*padding-bottom: 45px;*/
	padding-right: 10px;

	opacity: 1;
	transition: opacity 0.1s, left 0.1s, width 0.1s;

	overflow-y: auto;
}
.page.hidden {
	display: block !important;
	opacity: 0;
	z-index: -1;
}

.toggleable-check {
	width: 13px;
}

#migrationWelcome h1, #migrationWelcome h4:not(.modal-title) {
	text-align: center;
}
