.applicationAuthLoadingOverlay {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 18px;
	padding-top: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 10;
}

.applicationAuthButtons {
	margin-top: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.authRow {
	padding-top: 20px;
}

.app-card-body {
	align-items: center;
}

.authBottomNotes {
	padding-top: 20px;
}