#homework .row {
	width: 100%;
	height: calc(100% - 80px);
}
#homework .col-md-3 {
	height: 100%;
}
#homeworkOverdueDone {
	display: inline-block;
	color: #555;
	cursor: pointer;
	font-size: 14px;
}
#homeworkOverdueDone:hover {
	color: #222;
}

.hwList {
	border: solid 1px black;
	height: 100%;
	overflow: scroll;
}

.hwList ul {
	padding-left: 0;
}

.hwItem {
	cursor: default;
	padding: 5px;
	padding-right: 30px;
	position: relative;
	transition: all 0.2s;
}
.hwItem.done, .hwItem.done:hover {
	background-color: rgb(180, 180, 180);
}
.hwItem:hover {
	background-color: rgb(200, 200, 200);
}

.hwItem.done .hwName, .hwItem.done .hwSubText {
	text-decoration: line-through;
}

.hwItem .hwName {
	font-size: 16px;
	font-weight: 500;
}

.hwLate {
	color: red;
}

.hwOptions {
	color: rgb(60, 60, 60);
	opacity: 0;
	position: absolute;
	right: 10px;
	transition: all 0.2s;
}
.hwOptions i:hover {
	cursor: pointer;
	color: rgb(10, 10, 10);
}
.hwItem:hover .hwOptions {
	opacity: 1;
}

.hwDescIcon {
	position: absolute;
	right: 10px;
	bottom: 8px;
}

.highlightTextarea-container {
	height: 30px !important;
}

.highlightTextarea-container:not(.highlightTextarea-containerTop) {
	z-index: 0;
}

.highlightTextarea mark.fade {
	position: relative;
	top: -2px;
	transition: none;
}

#homeworkOverdueTitle {
	color: red;
}

@media (max-width: 992px) {
	#homework .col-md-3 {
		margin-bottom: 60px;
	}
}
