.highlightTextarea-container {
	height: 30px !important;
}

.highlightTextarea-container:not(.highlightTextarea-containerTop) {
	z-index: 0;
}

.highlightTextarea mark.fade {
	position: relative;
	top: -2px;
	transition: none;
}
