body {
	position: relative;
}

.landing {
	background-image: url("../img/mainbg.jpeg");
	background-size: cover;
	background-position: center center;
}
.jumbotron {
	background: transparent;
}
.jumbotron h1 {
	font-size: 48px;
}
.jumbotron .lead {
	font-size: 24px;
}
.jumbotron .container {
	padding-bottom: 10px;
}
.feature-name {
	display: inline-block;
	font-size: 1.8em;
	height: 42px;
	line-height: 42px;
	margin-left: 4px;
	position: relative;
	top: -6px;
}

.more-section .col-md-1 {
	margin-top: 8px;
}
.more-section .col-md-11 {
	padding-left: 20px;
}
.more-section .fa {
	font-size: 64px;
}
.more-section h1 {
	font-size: 36px;
}
.more-section p {
	font-size: 18px;
}

.social-col {
	text-align: center;
}

.whatsnew-alert {
	border-radius: 0;
	border: none;
	background-color: lightseagreen;
	color: white;
	font-size: 1.2em;
	text-align: center;
	cursor: pointer;
}

.whatsnew-alert a {
	color: white;
}

.feature {
	height: 100vh;
	background-size: cover;
	background-image: no-repeat center center;
	background-attachment: fixed !important;
	position: relative;
}

#planner {
	background-image: url(/img/planner-sample.jpg);
}

#homework {
	background-image: url(/img/homework-sample.jpg);
}

#calendar {
	background-image: url(/img/calendar-sample.jpg);
}

.feature-spotlight {
	position: absolute;
	bottom: 5vh;
	right: 5vw;
	width: 20vw;
	padding: 5px 5px 5px 5px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}

#keep-scrolling {
	font-size: 30px;
	color: white;
	background-color: #333;
	height: 80px;
	line-height: 80px;
	text-align: center;
	padding-top: 1px;
}

.bottom-more-section {
	padding-bottom: 20px;
}

#otherfeatures, #bottom-get-started {
	background-color: #333;
	color: white;
	text-align: center;

}

.popover-title, .popover-content {
	color: black !important;
}

.feature-marquee {
	width: 100vw;
	height: 20vh;
	padding-top: 8vh;
	overflow: hidden;
}

.mini-feature, .fine-print {
	opacity: 0.7;
	transition: opacity .5s;
}

.mini-feature {
	padding-right: 90px !important;
}

.mini-feature:hover, .fine-print:hover{
	opacity: 1;
}

.comic-sans {
	font-family: "Comic Sans MS";
	opacity: .4;
}

#bottom-get-started {
	padding-top: 20vh;
	height: 70vh;
}