body {
	position: relative;
}

.landing {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	height: calc(100vh - 57px);
	overflow: hidden;
}

.landing>.container-fluid, .header-row, .landing-text {
	height: 100%
}

@media only screen and (min-width: 540px) {
	.header-row {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (max-width: 539.9999px) {
	.header-row {
		width: 100%;
	}
}

@media only screen and (max-width: 980px) {
	.landing-graphic {
		display: none;
	}
}

.landing-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-text-2 {
	font-size: 24px;
}

.bottom-more-section {
	padding-bottom: 20px;
}

#otherfeatures, #bottom-get-started {
	background-color: #333;
	color: white;
	text-align: center;
}

.feature-marquee {
	width: 100vw;
	height: 20vh;
	padding-top: 8vh;
	overflow: hidden;
}

.mini-feature, .fine-print {
	opacity: 0.7;
	transition: opacity .5s;
}

.mini-feature {
	padding-right: 90px !important;
}

.mini-feature:hover, .fine-print:hover {
	opacity: 1;
}

.comic-sans {
	font-family: "Comic Sans MS";
	opacity: .4;
}

#bottom-get-started {
	padding-top: 20vh;
	height: 70vh;
}

.ca {
	text-align: center;
}

.landing-graphic {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.landing-graphic-background {
	height: 70%;
	width: 90%;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 30px;
	box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

.hwItem:hover {
	background-color: #c8c8c8;
}

.hwItem {
	cursor: default;
	background: #ffffff;
	border: 1px solid #cbcccd;
	border-left-width: 4px;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
	padding: .8rem;
	margin-bottom: 1.2rem;
	position: relative;
	transition: all .2s;
	font-size: 14px;
	margin: 5px;
}

.hwOptions {
	color: #3c3c3c;
	font-size: 16px;
	opacity: 0;
	position: absolute;
	right: 10px;
	transition: all .2s;
}

.hwItem .hwName {
	font-size: 16px;
	font-weight: 500;
}

.graphic-time-period {
	text-align: center;
}

.planner-feature {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	color: white;
}

.hw-feature {
	background-image: linear-gradient(75deg, #2af598 0%, #009efd 100%);
	color: white;
}

.schedule-feature {
	background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	color: white;
}

.cloud-feature {
	background-image: linear-gradient(-215deg, #30cfd0 0%, #330867 100%);
	color: white;
}

.feature {
	height: 40vh;
	min-height: 250px;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%
}

.fh {
	height: 100%
}

.giant-icon {
	font-size: 200px;
}

.tar {
	text-align: right;
}

.vh100 {
	height: 100vh;
}

@media only screen and (max-width: 768px) {
	.icon-holder {
		display: none;
	}
}