body {
	font-family: "Lato", sans-serif;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand img {
	display: inline;
	position: relative;
	top: -3px;
}

.license-no {
	color: #C6403D;
}

.license-yes {
	color: #3DC637;
}

.license-condition {
	color: #0099D6;
}

.footer {
	padding-top: 15px;
	padding-bottom: 50px;
	background-color: #555;
	color: white;
}

.footer-link {
	color: white;
}

.footer-link:hover {
	color: white;
}

.alert-white-text {
	color: white;
}