#planner {
	padding: 10px;
	overflow: scroll;
}
#plannerTable {
	table-layout: fixed;
	min-width: 1120px;
	width: 100%;
}
#plannerTable #plannerTableDowRow th {
	border-top: none;
	border-left: none;
	border-right: none;
	font-weight: normal;
}
#plannerTable #plannerTableDowRow th .dowDay {
	font-size: 1.15em;
	font-weight: bold;
}
#plannerTable th {
	border: solid 1px black;
	text-align: center;
}
#plannerTableBody td {
	border: solid 1px black;
	min-width: 140px;
	height: 100px;
	width: 100%;
	position: relative;
}
#plannerTableBody td:hover .plannerAddButton {
	opacity: 1;
}
.plannerAddButton {
	position: absolute;
	right: 1px;
	bottom: 1px;
	border-right: none;
	border-bottom: none;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	transition: opacity .2s;
	opacity: 0;
}
#plannerTableBody td ul {
	list-style-type: none;
	padding: 0;
}
#plannerTableBody td:not(.subjectCell) {
	vertical-align: top;
}
#plannerTableBody td.subjectCell {
	font-size: 1.1em;
	padding-right: 10px;
	text-align: right;
}
.plannerHWBox {
	transition: all 0.2s;
}
.plannerItem {
	cursor: default;
	transition: all 0.2s;
	padding-right: 34px;
	position: relative;
}
.plannerItem:hover {
	background: rgb(220, 220, 220);
}
.plannerItem.done, .plannerHWBox.done {
	background: rgb(200, 200, 200);
	text-decoration: line-through;
	background-clip: padding-box;
}
.plannerHWControls {
	color: rgb(30, 30, 30);
	position: absolute;
	top: 1px;
	right: 7px;
	opacity: 0;
	transition: all 0.2s;
}
.plannerItem:hover .plannerHWControls {
	opacity: 1;
}
.plannerHWControls .fa {
	cursor: pointer;
	color: rgb(60, 60, 60);
	transition: all 0.2s;
}
.plannerHWControls .fa:hover {
	color: rgb(10, 10, 10);
}
#plannerAnnouncementRow th {
	height: 21px;
}
#plannerWeek {
	color: #6666ff;
	cursor: pointer;
	border-bottom: dashed 1px #6666ff;
}
#plannerControls {
	text-align: center;
}
