.calendarEventContainer
	.calendarEvent
		background: white
		border-left: solid 2px #555
		cursor: pointer
		width: 100%
		padding-left: 2px
		padding-right: 2px
		position: absolute
		z-index: 1
		
		.calendarEventName
			font-size: 13px
			font-weight: bold
			height: 17px
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
		
		.calendarEventTeacher, .calendarEventTime
			font-size: 12px
	
	.calendarEvent:hover
		border-top: solid 1px #aaa
		border-right: solid 1px #aaa
		border-bottom: solid 1px #aaa
		margin-top: -1px