.calendarEvents
	display: flex
	padding-left: 40px
	height: 1440px
	position: relative
	
	.calendarEventsGutter
		border-left: solid 1px black
		border-right: solid 1px black
		position: absolute
		left: 0
		width: 40px
		
		.calendarEventsGutterHour
			border-bottom: solid 1px black
			font-size: 18px
			height: 60px
			padding-top: 4px
			padding-right: 4px
			text-align: right
			user-select: none
	
	.calendarEventsDay
		flex: 1
		border-right: solid 1px black
		position: relative