.calendarPage
	height: 100%
	padding-bottom: 10px
	display: flex
	flex-direction: column

	.calendarPageImportError
		font-size: 1.5rem
		margin-top: 2rem
		margin-bottom: 0

		.btn
			margin-left: 0.5rem

.calendarPageWelcome
	margin: 0 auto
	padding-top: 20px
	width: 500px
	
	.btn
		float: right
	
	.form-control
		font-size: 20px
		margin-bottom: 10px

		padding: 0 12px
		height: 42px