.calendarWeek
	height: calc(100% - 30px - 10px)
	border-bottom: solid 1px black
	position: relative
	padding-top: 35px
	overflow-y: hidden
	
	.calendarWeekHeader
		display: flex
		border-bottom: solid 1px black
		padding-left: 40px
		height: 35px
		position: absolute
		top: 0
		width: 100%
	
	.calendarWeekEventsContainer
		height: 100%
		overflow-y: scroll