.calendarPage
	height: 100%
	display: flex
	flex-direction: column

	.updateAlert
		flex: 0 1 auto
		margin-top: 20px
		margin-bottom: 0

		strong
			font-size: 2rem
			margin-bottom: 0.4rem

		.btn
			margin-top: 0.4rem

.calendarPageWelcome
	margin: 0 auto
	padding-top: 20px
	width: 500px
	
	.btn
		float: right
	
	.form-control
		font-size: 20px
		margin-bottom: 10px

		padding: 0 12px
		height: 42px