.calendarEventContainer
	.calendarEvent
		background: white
		border: solid 1px black
		cursor: pointer
		width: 100%
		padding-left: 2px
		padding-right: 2px
		position: absolute
		z-index: 1
		
		.calendarEventName
			font-size: 12px
			font-weight: bold
			height: 17px
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
		
		.calendarEventTeacher, .calendarEventTime
			font-size: 10px