.calendarEventPopover
	position: absolute
	background: white
	border: solid 1px black
	box-shadow: black 0 0 4px 0
	width: 300px
	padding: 10px
	z-index: 2
	
	.calendarEventPopoverName
		font-size: 16px
		font-weight: bold
	
	.calendarEventPopoverInfo, .calendarEventPopoverTime
		font-size: 15px
	
	.calendarEventPopoverOrigin
		font-size: 12px