.calendarEvents
	background: #eeeeee
	display: flex
	padding-left: 40px
	height: 1440px
	position: relative
	
	.calendarEventsGutter
		border-left: solid 1px #bbbbbb
		border-right: solid 1px #bbbbbb
		position: absolute
		left: 0
		width: 40px

		.calendarEventsGutterHour
			border-bottom: solid 1px #dddddd
			color: #333
			font-size: 1.1rem
			height: 60px
			padding-top: 4px
			padding-right: 4px
			text-align: right
			user-select: none

		.calendarEventsGutterHour.last
			border-bottom: none

	.calendarEventsHourBackgrounds
		box-sizing: border-box
		padding-left: 40px
		position: absolute
		left: 0
		width: 100%
		z-index: 1

		.calendarEventsHourBackground
			border-bottom: solid 1px #dddddd
			box-sizing: border-box
			height: 60px
			width: 100%

		.calendarEventsHourBackground.last
			border-bottom: none