.calendarWeekDay
	flex: 1
	padding-top: 10px
	
	.calendarWeekDayName
		text-align: center
		
		.calendarWeekDayNameDow
			font-size: 12px

		.calendarWeekDayNameDate
			margin-left: 3px
		
	.calendarWeekDayEvents
		position: relative