.calendarWeekDay
	flex: 1
	padding-top: 10px
	
	.calendarWeekDayName
		text-align: center
		
		.calendarWeekDayNameDow
			font-size: 12px

		.calendarWeekDayNameDate
			margin-left: 3px

	.calendarWeekDayPast
		color: #aaa

	.calendarWeekDayToday
		font-weight: bold
	
	.calendarWeekDayAnnouncement
		background: white
		border-left: solid 1px black
		border-right: solid 1px black
		border-bottom: solid 1px black
		font-size: 11px
		text-align: center
		position: relative
		top: 5px
		left: -1px
		width: calc(100% + 1px)
		
	.calendarWeekDayEvents
		position: relative

.darkTheme
	.calendarWeekDayAnnouncement
		background: black;