.calendarEventsDay
	flex: 1
	border-right: solid 1px #cccccc
	position: relative

.calendarEventsDayToday
	background: #ffffde

.darkTheme
	.calendarEventsDay
		flex: 1
		border-right: solid 1px #333333

	.calendarEventsDayToday
		background: #123456