.calendarWeekDay
	flex: 1
	padding-top: 10px
	
	.calendarWeekDayName
		text-align: center
		
		.calendarWeekDayNameDow
			font-size: 12px

		.calendarWeekDayNameDate
			margin-left: 3px

	.calendarWeekDayPast
		color: #aaa
	
	.calendarWeekDayAnnouncement
		background: white
		border-right: solid 1px black
		border-bottom: solid 1px black
		font-size: 11px
		margin-top: 5px
		text-align: center
		z-index: 2
		
	.calendarWeekDayEvents
		position: relative