.calendarHeader
	width: 100%
	height: 35px
	padding-top: 5px
	
	.calendarHeaderWeek
		display: inline-block
		float: left
		font-size: 20px
		height: 35px
		line-height: 35px
		
	.calendarHeaderControls
		float: right