.calendarWeek
	border-bottom: solid 1px black
	display: flex
	flex-direction: column
	position: relative
	padding-top: 35px
	overflow-y: hidden
	
	.calendarDateHeader
		display: flex
		border-bottom: solid 1px black
		padding-left: 40px
		height: 35px
		position: absolute
		top: 0
		width: 100%
		z-index: 2
	
	.calendarWeekEventsContainer
		overflow-y: scroll