.calendarMonth
	padding-top: 10px
	padding-bottom: 10px
	width: 100%
	height: 100%
	position: relative

	.calendarMonthGrid
		display: flex
		flex-direction: column
		width: 100%
		height: 100%

		.calendarMonthHeader
			flex-shrink: 1
			margin-bottom: 5px

			.calendarMonthGridItem
				text-align: center

		.calendarMonthRow
			display: flex
			width: 100%

			.calendarMonthGridItem
				flex-grow: 1
				flex-shrink: 1
				font-size: 12px
		
		.calendarMonthRow:nth-child(2)
			.calendarMonthGridSpacer:last-child
				border-right: solid 1px #ccc

		.calendarMonthRow:last-child
			.calendarMonthGridSpacer:first-of-type
				border-left: solid 1px #ccc

		.calendarMonthRow:not(.calendarMonthHeader)
			flex-basis: 0
			flex-grow: 1

			.calendarMonthDay:first-child
				border-left: solid 1px #ccc

			.calendarMonthDayOther
				color: #a0a0a0

			.calendarMonthDayTopBorder
				border-top: solid 1px #ccc
				margin-top: -1px

			.calendarMonthGridSpacer
				border-right: solid 1px transparent
				padding: 4px

			.calendarMonthDay
				border-right: solid 1px #ccc
				border-bottom: solid 1px #ccc
				display: flex
				flex-direction: column
				padding: 4px
				width: 0

				.calendarMonthDayNumber
					font-size: 16px
					font-weight: bold
					flex-basis: 16px
					flex-grow: 0
					height: 16px

				.calendarMonthDayEvents
					flex-grow: 1
					height: 0
					padding-top: 1px
					overflow-y: auto

					.calendarMonthDayAnnouncement
						background: white
						border: solid 1px black
						width: 100%
						line-height: 18px
						height: 20px
						margin-bottom: 2px
						text-align: center

			.calendarMonthToday
				background: #ffffcc

.darkTheme
	.calendarMonth
		.calendarMonthGrid		
			.calendarMonthRow:nth-child(2)
				.calendarMonthGridSpacer:last-child
					border-right: solid 1px #333

			.calendarMonthRow:last-child
				.calendarMonthGridSpacer:first-of-type
					border-left: solid 1px #333

			.calendarMonthRow:not(.calendarMonthHeader)
				.calendarMonthDay:first-child
					border-left: solid 1px #333

				.calendarMonthDay
					border-right: solid 1px #333
					border-bottom: solid 1px #333


					.calendarMonthDayAnnouncement
						background: black
						border: solid 1px white
						width: 100%
						line-height: 18px
						height: 20px
						margin-bottom: 2px
						text-align: center

				.calendarMonthDayTopBorder
					border-top: solid 1px #333
					margin-top: -1px

				.calendarMonthToday
					background: #123456