@keyframes calendarEventPopover-appear
	0%
		opacity: 0
		transform: scale(0.8)
	100%
		opacity: 1
		transform: scale(1)

.calendarEventPopover
	animation: calendarEventPopover-appear .3s ease 1
	position: absolute
	background: white
	border: solid 1px #ccc
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
	width: 300px
	padding: 10px
	transform-origin: 0 10px
	z-index: 3
	
	.calendarEventPopoverName
		font-size: 16px
		font-weight: bold
	
	.calendarEventPopoverInfo, .calendarEventPopoverTime
		font-size: 15px
	
	.calendarEventPopoverOrigin
		font-size: 12px

.calendarEventPopoverAlternate
	margin-left: -300px
	transform-origin: 300px 10px