.eventModal
	.eventModalName
		font-size: 18px
		margin-bottom: 5px
		height: 40px
	
	.eventModalLabel
		width: 52px
		height: 34px
		line-height: 34px
		text-align: right
		padding-right: 5px
	
	.eventModalData
		padding: 0