.addPrefix
	.addPrefixWords
		font-size: 18px
		margin-left: 2px
		width: 235px

	.btn
		margin-left: 2px

	.colorPickerContainer, .addPrefixWords, .btn
		display: inline-block
		height: 39px
		vertical-align: text-top