.plannerPage
	.dateHeader
		margin-bottom: 12px

	.plannerHeader.plannerHeaderFirst
		border-bottom: none

	.plannerHeader
		border-bottom: solid 1px black
		display: flex
		padding-left: 16.1rem

		.plannerHeaderColumn
			flex: 1
			text-align: center

		.plannerHeaderDay
			padding-bottom: 0.5rem

			.plannerHeaderDayOfWeek
				font-size: 1.2rem

			.plannerHeaderDate
				font-size: 1.4rem
				padding-left: 0.25rem

		.plannerHeaderAnnouncement
			border-top: solid 1px black
			border-right: solid 1px black
			font-weight: bold
			min-height: 2rem

		.plannerHeaderAnnouncementFirst
			border-left: solid 1px black