.plannerHomeworkItem
	transition: 0.1s all
	padding: 0.25rem 3.35rem 0.25rem 0.25rem
	position: relative

	.plannerHomeworkActions, .plannerHomeworkDescriptionIcon
		display: inline-block
		font-size: 1.4rem
		position: absolute
		top: 0.25rem
		right: 0
		opacity: 0
		text-align: right
		transition: 0.1s opacity
		padding-right: 0.25rem
		width: 3.1rem

		.fa
			cursor: pointer

	.plannerHomeworkDescriptionIcon
		right: 0.25rem
		opacity: 1

	.plannerHomeworkDescription
		display: none
		opacity: 0
		transition: 0.1s opacity

		position: absolute
		bottom: 100%
		left: -25%
		margin-bottom: 0.25rem

		background: white
		border: solid 1px #cccccc
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
		width: 150%
		height: auto
		padding: 1rem

		div
			min-height: 14px

.plannerHomeworkItem.done, .plannerHomeworkItem.done:hover
	background: #d0d0d0
	font-style: italic
	text-decoration: line-through

.plannerHomeworkItem:hover
	background: #dfdfdf
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2)

.plannerHomeworkItem:hover, .plannerHomeworkDescription:hover
	.plannerHomeworkActions
		opacity: 1

	.plannerHomeworkDescriptionIcon
		opacity: 0

	.plannerHomeworkDescription
		display: block
		opacity: 1