.plannerPage
	.dateHeader
		margin-bottom: 2rem

	.plannerHeader.plannerHeaderFirst
		border-bottom: none

	.plannerHeader
		display: flex
		padding-left: 15rem

		.plannerHeaderColumn
			flex: 1
			text-align: center

		.plannerHeaderDayPast
			color: #aaa

		.plannerHeaderDayToday
			font-weight: bold

		.plannerHeaderDay
			padding-bottom: 0.5rem

			.plannerHeaderDayOfWeek
				font-size: 1.2rem

			.plannerHeaderDate
				font-size: 1.4rem
				padding-left: 0.25rem

		.plannerHeaderAnnouncement
			border-top: solid 1px #6a6a6a
			border-right: solid 1px #6a6a6a
			border-bottom: solid 1px #6a6a6a
			font-weight: bold
			min-height: 2rem

		.plannerHeaderAnnouncementFirst
			border-left: solid 1px #6a6a6a