.plannerClassRow
	display: flex
	width: 100%

	.plannerRowItem
		border-right: solid 1px #6a6a6a
		border-bottom: solid 1px #6a6a6a
		box-sizing: content-box
		flex: 1
		min-height: 7.5rem
		padding-bottom: 2.5rem
		position: relative
		transition: background 0.1s

		word-break: break-all
		hyphens: auto

		.plannerRowItemAdd
			position: absolute
			bottom: 0
			right: 0
			opacity: 0
			transition: 0.1s opacity

			.btn
				border-right: none
				border-bottom: none
				border-top-right-radius: 0
				border-bottom-right-radius: 0
				padding: 0.25rem 0.5rem

	.plannerRowItem:hover
		.plannerRowItemAdd
			opacity: 1

	.plannerRowItemDone
		background: #d0d0d0

	.plannerClassInfo
		flex: 0 0 15rem
		border-left: solid 1px #6a6a6a
		display: flex
		flex-direction: column
		justify-content: center
		font-size: 1.5rem
		padding-right: 1rem
		padding-bottom: 0
		text-align: right
		vertical-align: middle