<!doctype html>
<html>

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118748329-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-118748329-1');
	</script>

	<title>MyHomeworkSpace</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/line-awesome-font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900">
	<link rel="stylesheet" href="/css/layout.css">

	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<% if (current.path[0] == "index") { %>
	<script src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js"></script>
	<% } %>
	<script src="js/layout.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<img src="img/icon.svg" class="nav-logo" width="30" height="30" alt="">
			MyHomeworkSpace
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/about.html">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://blog.myhomework.space">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://support.myhomework.space">Support</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<% if (current.path[0] != "applicationAuth") { %>				
					<li class="nav-item">
						<a class="nav-link" href="/app.html">Log in</a>
					</li>
				<% } else { %>
					<li class="nav-item applicationAuthLoginInfo hidden">
						<a class="nav-link applicationAuthUser applicationAuthLogout" href="#" data-toggle="tooltip" data-placement="bottom" title="Log out"></a>
					</li>
				<% } %>
			</ul>
		</div>
	</nav>

	<% if (current.path[0] != "index") { %>
	<div class="container main-container">
	<% } %>

	<%- yield %>

	<% if (current.path[0] != "index") { %>
	</div>
	<% } %>

	<div class="footer bg-dark">
		<div class="container">
			<h3><img src="/img/icon.svg" class="footer-icon" /> MyHomeworkSpace</h3>
			<div class="row">
				<div class="col-md-4">
					<p class="lead">MyHomeworkSpace is an online planner made by students, for students</p>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li>
							<a href="/app.html" class="footer-link">Get Started!</a>
						</li>
						<li>
							<a href="/about.html" class="footer-link">About</a>
						</li>
						<li>
							<a href="http://status.myhw.space" class="footer-link">System Status</a>
						</li>
						<li>
							<a href="/license.html" class="footer-link">License</a>
						</li>
						<li>
							<a href="https://support.myhomework.space/apireference.html" class="footer-link">API Reference</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li>
							<a href="mailto:hello@myhomework.space" class="footer-link">
								<i class="fa fa-envelope-o"></i> hello@myhomework.space</a>
						</li>
						<li>
							<a href="https://github.com/MyHomeworkSpace" class="footer-link">
								<i class="fa fa-github"></i> @MyHomeworkSpace</a>
						</li>
						<li>
							<a href="https://twitter.com/myhwspace" class="footer-link">
								<i class="fa fa-twitter"></i> @myhwspace</a>
						</li>
						<li>
							<a href="https://chrome.google.com/webstore/detail/daltontab/ggfjkmflbbjndabmnngilkfpmdegbfkm"
								class="footer-link">DaltonTab for Chrome</a>
						</li>
						<li>
							<a href="https://addons.mozilla.org/en-US/firefox/addon/daltontab/"
								class="footer-link">DaltonTab for Firefox</a>
						</li>
					</ul>
				</div>
			</div>
			<p>MyHomeworkSpace is
				<a href="https://gihub.com/MyHomeworkSpace" class="footer-link">open source software</a> licensed under
				the
				<a href="/license.html" class="footer-link">MIT License</a> created in New York City. This site was
				served to you on a
				<span class="happy-synonym">happy</span> server <a class="footer-link"
					href="https://en.wikipedia.org/wiki/Content_delivery_network">
					somewhere on earth, maybe <span class="server-location">Newark, US</span></a>?
			</p>
			<small>
				Use of this website is subject to our Terms of Service and Privacy Policy, which can be found on our
				<a href="http://legal.myhomework.space" class="footer-link">Legal site</a>.
			</small>
		</div>
	</div>
</body>

</html>