<div class="container">
	<h1>About MyHomeworkSpace</h1>
	<p class="lead">MyHomeworkSpace helps you plan and organize your life. It provides an online planner along with tools to help make sure you never fall behind on your homework, tests, or quizzes.</p>
	<h2>Team</h2>
	<p>These people actively work on MyHomeworkSpace</p>
	<div class="row aboutNames">
		<div class="col-md-4">
			<h3>Alexander Studer</h3>
			<p class="lead">Class of 2019</p>
			<ul class="fa-ul">
				<li><i class="fa fa-li fa-envelope"> </i><a href="mailto:astuder@myhomework.space"> astuder@myhomework.space</a></li>
				<li><i class="fa fa-li fa-github"> </i><a href="https://github.com/thatoddmailbox"> thatoddmailbox</a></li>
				<li><i class="fa fa-li fa-link"> </i><a href="https://alex.studer.dev"> alex.studer.dev</a>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>William Barkoff</h3>
			<p class="lead">Class of 2020</p>
			<ul class="fa-ul">
				<li><i class="fa fa-li fa-envelope"> </i><a href="mailto:wbarkoff@myhomework.space"> wbarkoff@myhomework.space</a></li>
				<li><i class="fa fa-li fa-github"> </i><a href="https://github.com/nywillb"> nywillb</a></li>
				<li><i class="fa fa-li fa-link"> </i><a href="https://williambarkoff.com"> williambarkoff.com</a>
			</ul>
		</div>
	</div>
	<h2>Inactive Team Members</h2>
	<p>These people don't actively work on MyHomeworkSpace anymore, but they are still involved with the MyHomeworkSpace team.</p>
	<div class="row aboutNames">
		<div class="col-md-4">
			<h3>Joshua Fielding</h3>
			<p class="lead">Class of 2019</p>
			<ul class="fa-ul">
				<li><i class="fa fa-li fa-envelope"> </i><a href="mailto:jfielding@myhomework.space"> jfielding@myhomework.space</a></li>
				<li><i class="fa fa-li fa-github"> </i><a href="https://github.com/medensqui"> medensqui</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Alex Mazansky</h3>
			<p class="lead">Class of 2022</p>
			<ul class="fa-ul">
				<li><i class="fa fa-li fa-envelope"> </i><a href="mailto:amazansky@myhomework.space"> amazansky@myhomework.space</a></li>
				<li><i class="fa fa-li fa-github"> </i><a href="https://github.com/RobotXLabs"> RobotXLabs</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>William Weinstein</h3>
			<p class="lead">Class of 2019</p>
			<ul class="fa-ul">
				<li><i class="fa fa-li fa-envelope"> </i><a href="mailto:wweinstein@myhomework.space"> wweinstein@myhomework.space</a></li>
				<li><i class="fa fa-li fa-github"> </i><a href="https://github.com/willweinstein"> willweinstein</a></li>
			</ul>
		</div>
	</div>
	<h2>Retired Team Members</h2>
	<p>These people have stopped working on MyHomeworkSpace. They are listed here in order to thank them for the work they have put into MyHomeworkSpace, although they currently have no affiliation with the project.</p>
	<ul>
		<li>Emlyn Mileaf-Patel (<i class="fa fa-github"> </i><a href="https://github.com/em-p">em-p</a>)</li> 
		<li>Eeshan Tripathii (<i class="fa fa-github"> </i><a href="https://github.com/c20et">c20et</a>)</li> 
	</ul>

	<h2>Open Source Software</h2>
	<p>MyHomeworkSpace is Open Source Software, meaning that all of our code is freely available for anyone to use. (Don't worry, all of your user data is kept secure).</p>
	<p>All MyHomeworkSpace software is licensed under the <a href="/license.html">MIT License</a> and is stored in our GitHub organazation, <i class="fa fa-github"></i><a href="https://github.com/MyHomeworkSpace">MyHomeworkSpace</a>.</p>

	<h2>GitHub contributors</h2>
	<p>We'd also like to thank the following people for contributing to the MyHomeworkSpace repository on GitHub. Want your name here? <a href="https://github.com/MyHomeworkSpace/client">Contribute!</a></p>
	<ul>
		<li><a href="https://github.com/suufi">suufi</a></li>
		<li><a href="https://github.com/Tpixelminer">Tpixelminer</a></li>
	</ul>

	<h2>Used images</h2>
	<ul>
		<li>Bell by Edward Boatman from the Noun Project</li>
		<li>Address Book by Noe Araujo from the Noun Project</li>
		<li>Book Icon from the <a href="http://www.iconarchive.com/show/colorful-long-shadow-icons-by-graphicloads/Book-icon.html">Icon Archive</a></li>
	</ul>

	<h2 id="acknowledgements">Acknowledgements</h2>
	<p>MyHomeworkSpace is built with these open-source projects. Without them, what you see here would not have been possible.</p>
	<ul>
		<li><a href="https://golang.org/">Go</a></li>
		<li><a href="https://echo.labstack.com/">Echo</a></li>
		<li><a href="https://mysql.com/">MySQL</a></li>
		<li><a href="https://godoc.org/github.com/go-sql-driver/mysql">Go-MySQL-Driver</a></li>
		<li><a href="https://github.com/BurntSushi/toml">TOML parser and encoder for Go with reflection</a></li>
		<li><a href="https://harpjs.com/">Harp</a></li>
		<li><a href="https://jquery.com/">jQuery</a></li>
		<li><a href="https://jqueryui.com/">jQuery UI</a></li>
		<li><a href="https://getbootstrap.com/">Bootstrap</a></li>
		<li><a href="http://fontawesome.io/">Font Awesome</a></li>
		<li><a href="https://icons8.com/line-awesome">Line Awesome</a></li>
		<li><a href="https://preactjs.com/">Preact</a></li>
		<li><a href="https://www.npmjs.com/package/preact-router">preact-router</a></li>
		<li><a href="http://stylus-lang.com/">Stylus</a></li>
		<li><a href="https://github.com/shama/stylus-loader">stylus-loader</a></li>
		<li><a href="https://buble.surge.sh">Bublé</a></li>
		<li><a href="https://github.com/sairion/buble-loader">buble-loader</a></li>
		<li><a href="https://webpack.js.org/">Webpack</a></li>
		<li><a href="https://github.com/webpack-contrib/css-loader">Webpack CSS Loader</a></li>
		<li><a href="https://github.com/webpack-contrib/style-loader">Webpack Style Loader</a></li>
		<li><a href="https://github.com/webpack-contrib/extract-text-webpack-plugin">Webpack Extract Text Plugin</a></li>
		<li><a href="http://www.latofonts.com/">Lato Fonts</a></li>
		<li><a href="http://compromise.cool/">Compromise</a></li>
		<li><a href="https://github.com/kentcdodds/cross-env">cross-env</a></li>
		<li><a href="https://github.com/developit/linkstate">linkstate</a></li>
		<li><a href="https://redis.io/">Redis</a></li>
	</ul>
	<p><small>Phew! That's a lot of dependences</small></p>
</div>
