<div class="applicationAuthLoadingOverlay">
	<i class="fa fa-spin fa-refresh"></i> Loading...
</div>
<div class="applicationAuthContainer container">
	<div class="applicationAuthLogin hidden">
		<div id="loginContainer"></div>
	</div>
	<div class="applicationAuthRequest hidden">
		<h1>Hi, <span class="applicationAuthFirstName"></span></h1>
		<h3>An external application is requesting access to your account.</h3>
		<div class="row authRow">
			<div class="col-md-4">
				<div class="card app-card">
					<div class="card-header">
						Application
					</div>
					<div class="card-body app-card-body">
						<h3 class="applicationAuthName"></h3>
						<h4 class="applicationAuthAuthorLabel">by <span class="applicationAuthAuthor"></span></h4>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<p>Not <strong class="applicationAuthUser"></strong>? <a href="#" class="applicationAuthLogout">Log out</a> and switch to your own account.
				<p>The application <strong class="applicationAuthName"></strong> would like to access and manage your account's data, including your planner, assignments, and calendar. <span class="applicationAuthName"></span> may have different data use policies from MyHomeworkSpace. You can control what applications can access your account and revoke access at any time from the Settings tab.</p>
				<p><strong>Your password will never be shared with <span class="applicationAuthName"></span></strong>.</p>
				<div class="applicationAuthButtons">
					<button id="applicationAuthDeny" class="btn btn-danger btn-lg">Deny</button>
					<button id="applicationAuthAllow" class="btn btn-primary btn-lg">Allow</button>
				</div>
			</div>
		</div>
		<div class="authBottomNotes">
			<p>Are you a developer who wants to make apps that work with MyHomeworkSpace? Learn about our API
			<a target="_blank" href="https://support.myhomework.space/docs/get-started-api" rel="noopener noreferrer">here</a>.</p>
		</div>
	</div>
	<div class="applicationAuthError hidden">
		<h1>An error occurred</h1>
		<h4 class="applicationAuthErrorMessage"></h4>
	</div>
</div>

<link rel="stylesheet" href="css/login.css" />
<link rel="stylesheet" href="css/bundle.css" />
<link rel="stylesheet" href="css/applicationAuth.css" />

<script src="js/bundle.js"></script>
<script src="js/app.js"></script>
<script src="js/login.js"></script>
<script src="js/applicationAuth.js"></script>
<script>
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>