<div class="dt">
    <div class="clock">
        <div class="datetime">
            <h1 id="time"><span id="hoursmins"></span><sup id="ampm"></sup></h1>
            <h2 id="date"></h2>
        </div>
    </div>
    <div class="bottom-left">
        <h2 id="location"></h2>
        <p>Photo by <a id="photographer"></a> from <a id="source"></a></p>
    </div>
    <div class="bottom-right">
        <a id="download">Checking browser compatibility <i class="fa fa-spin fa-notch-o"></i></i></a>
    </div>
</div>

<link rel="stylesheet" href="css/daltontab.css" />
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="js/daltontab.js"></script>