<div class="dt">
    <div class="clock">
        <div class="datetime">
            <h1 id="time"><span id="hoursmins">12:34</span><sup id="ampm">PM</sup></h1>
            <h2 id="date">September 12, 2018</h2>
        </div>
    </div>
    <div class="bottom-left">
        <h2 id="location"></h2>
        <p>Photo by <a id="photographer"></a> from <a id="source"></a></p>
    </div>
    <div class="bottom-right">
        <a id="download">Checking Browser Compatibility <i class="fa fa-spin fa-notch-o"></i></i></a>
    </div>
</div>