<div class="jumbotron">
    <h1>Finals</h1>
    <p>Use MyHomeworkSpace to help study for finals!</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/app.html" role="button">Get Started</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            <i class="fa fa-tag" aria-hidden="true"></i> Use Tags</h2>
        <p>Use the tags included in MyHomeworkSpace to help you study. The
            <span style="background-color: rgb(220, 20, 60); color: rgb(255, 255, 255); padding: 2px;">Final</span>,
            <span style="background-color: rgb(1, 181, 1); color: rgb(255, 255, 255); padding: 2px;">Start</span>,
            <span style="background-color: rgb(42, 241, 94); color: rgb(255, 255, 255); padding: 2px;">Study</span>, and
            <span style="background-color: rgb(42, 241, 94); color: rgb(255, 255, 255); padding: 2px;">Memorize</span>
            tags are especially useful.
        </p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Use Calendar</h2>
        <p>Create events linked to
            <span style="background-color: rgb(220, 20, 60); color: rgb(255, 255, 255); padding: 2px;">Final</span> or
            <span style="background-color: rgb(1, 181, 1); color: rgb(255, 255, 255); padding: 2px;">Study</span>
            assignments to help you set aside study times and breaks. Also, use
            <span style="background-color: rgb(90, 27, 135); color: rgb(255, 255, 255); padding: 2px;">Meeting</span>
            tags to help plan your days around review sessions.
        </p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-pencil" aria-hidden="true"></i> Use Exams View</h2>
        <p>
            Use Finals view to see the finals schedule, as well as share and see study tips! 
        </p>
    </div>
</div>

<div class="ca">
        <p class="lead">Follow us on Twitter to receive even more updates and study tips</p>
        <a href="https://twitter.com/myhwspace?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @myhwspace</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>