<div class="container">
	<h1>Want to procrastinate?</h1>
	<p class="lead">MyHomeworkSpace has the tools nessicary to help you succeed in that endevour.</h2>
	
	<h2>Procrastination Wristwatch</h2>
	<p>Only available on April 1st, the procrastination wristwatch helps you figure out exactly when you need to start your work! It will tell you the maximum amount of time that you can wait before doing your work. Remember: <strong>Due tomorrow, do tomorrow</strong> 
	<img src="/img/wristwatch.png" class="img-fluid"/>

	<h2>Need to convince your parents that you aren't procrastinating?</h2>
	<p>MyHomeworkSpace can help! Use the tool below to replace the face in the photo with your face, and send the photo to whoever you want to convince that you are working.</p>

	<div class="custom-file picker">
		<input type="file" class="custom-file-input" id="customFile">
		<label class="custom-file-label" for="customFile">Pick an image of your face</label>
	</div>
	Adjust Size: <input type="range" min="1" max="400" value="100" class="slider" id="size-adjustment" style="display: none">
	<img id="person" src="#" width="75" style="position: absolute; display: none">
	<img src="/img/studier.png" class="img-fluid" style="z-index: 10"/>
	<br />

	<h1 style="text-align:center">Happy April Fools Day</h1>
	<h4 style="text-align:center">From all of us at MyHomeworkSpace</h4>
</div>

<script src="/js/fools.js"></script>