<div class="landing">
	<div class="top">
		<div class="jumbotron">
			<div class="container white-bg">
				<h1>Stay organized.</h1>
				<p class="lead">MyHomeworkSpace is an online planner that lets you keep your homework all in one place.</p>
				<a href="/app.html" class="btn btn-primary btn-lg">Get started</a>
			</div>
		</div>
		<!--<div class="container">
			<div class="row features">
				<div class="col-md-4">
					<i class="fa fa-book"></i>
					<span class="feature-name">Planner</span>
					<p>The Planner lets you store, tag, and manage your homework, functioning as a complete replacement for your paper planner.</p>
				</div>
				<div class="col-md-4">
					<i class="fa fa-file-text"></i>
					<span class="feature-name">Homework</span>
					<p>Using data from your planner, the Homework view lets you see at-a-glance information about what tests, quizzes, and projects are coming soon. That way, you can't get blindsided by an upcoming assignment.</p>
				</div>
				<div class="col-md-4">
					<i class="fa fa-cloud"></i>
					<span class="feature-name">Cloud sync</span>
					<p>All of your information is saved to your account, so you can access it from anywhere with an Internet connection!</p>
				</div>
			</div>
		</div>-->
	</div>
</div>

<div class="more-section">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-book fa-fw"></i>
			</div>
			<div class="col-md-11">
				<h1>Planner</h1>
				<p>Planner lets you store, tag, and manage your homework, functioning as a complete replacement for your paper planner.</p>
			</div>
		</div>
	</div>
</div>
<div class="more-section">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-file-text fa-fw"></i>
			</div>
			<div class="col-md-11">
				<h1>Homework</h1>
				<p>All of your information is saved to your account, so you can access it from anywhere with an Internet connection!</p>
			</div>
		</div>
	</div>
</div>
<div class="more-section">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-calendar fa-fw"></i>
			</div>
			<div class="col-md-11">
				<h1>Calendar</h1>
				<p>Calendar lets you schedule your day. It's connected to Planner, so you can easily add all of your homework. It also downloads your class schedule for you, so you don't have to waste time entering when your classes are.</p>
			</div>
		</div>
	</div>
</div>
<div class="more-section">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-cloud fa-fw"></i>
			</div>
			<div class="col-md-11">
				<h1>Cloud sync</h1>
				<p>All of your information is saved to your account, so you can access it from anywhere with an Internet connection!</p>
			</div>
		</div>
	</div>
</div>
<div class="social">
		<div class="container">
			<div class="row">
		  		<div class="social-col col-md-6">
					<h1><i class="fa fa-twitter"></i> Twitter</h1>
					<div class="twitter-feed">
							<a class="twitter-timeline" data-width="340" data-height="500" href="https://twitter.com/myhwspace">Tweets by myhwspace</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
		  		</div>
		  		<div class="social-col col-md-6">
						<h1><i class="fa fa-facebook"></i> Facebook</h1>
						<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmyhomeworkspace%2F&tabs=timeline%2C%20messages&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		  		</div>
		</div>
</div>
<link href="css/index.css" rel="stylesheet" />