<div class="landing">
                <div class="top">
                    <div class="jumbotron">
                        <div class="container white-bg">
                            <h1>Stay organized.</h1>
                            <p class="lead">MyHomeworkSpace is an online planner that lets you keep your homework all in one place.</p>
                            <a href="/app.html" class="btn btn-primary btn-lg">Get started</a>
                        </div>
                    </div>
                    <!--<div class="container">
                        <div class="row features">
                            <div class="col-md-4">
                                <i class="fa fa-book"></i>
                                <span class="feature-name">Planner</span>
                                <p>The Planner lets you store, tag, and manage your homework, functioning as a complete replacement for your paper planner.</p>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file-text"></i>
                                <span class="feature-name">Homework</span>
                                <p>Using data from your planner, the Homework view lets you see at-a-glance information about what tests, quizzes, and projects are coming soon. That way, you can't get blindsided by an upcoming assignment.</p>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-cloud"></i>
                                <span class="feature-name">Cloud sync</span>
                                <p>All of your information is saved to your account, so you can access it from anywhere with an Internet connection!</p>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="learnMore" id="learnmore">
                    <a href="#learnmore">
                        <h2 class="learnMore-text">Learn More <i class="fa fa-chevron-circle-down"></i></h2>
                    </a>
                </div>
            </div>
            <div class="more-section-1">
                <img src="img/indexImages/section1.png" class="section-image"></img>
                <h1>Planner</h1>
                <h3>All of your assignments, exactly how you are used to them.</h3>
                <p>Planner is organized exactly like the dalton paper planner.<h3>
            </div>
            <!-- START PASTING HERE -->
        </div>
        <link href="css/index.css" rel="stylesheet">