<div class="landing">
	<div class="container-fluid">
		<div class="row header-row">
			<div class="landing-text col-md-4">
				<h1 class="display-2">Stay Organized.</h1>
				<p class="lead landing-text-2">MyHomeworkSpace is an online planner that lets you keep all your homework
					in one place.
				</p>
				<a href="app.html" class="btn btn-outline-secondary">Get Started</a>
			</div>
			<div class="landing-graphic col-md-8">
				<div class="landing-graphic-background">
					<p class="graphic-time-period">Tomorrow</p>
					<div class="hwItem  " style="border-left-color: rgb(76, 108, 155);">
						<div class="hwOptions"><i class="fa fa-circle-o toggleable-check"></i><i class="fa fa-edit"></i>
						</div>
						<div class="hwName"><span><span
									style="background-color: rgb(76, 108, 155); color: rgb(255, 255, 255); padding: 2px;">Read</span>
								next day</span></div>
						<div class="hwDetails">
							<div><i class="fa fa-calendar-o"></i> Tomorrow </div>
							<div><span class="className"><span
										style="display: inline-block; width: 12px; height: 12px; border-radius: 100%; margin-right: 2px; background-color: rgb(255, 165, 64);"></span>
									AMLIT: Self Soceity and Cosmos</span></div>
						</div>
					</div>
					<div class="hwItem  " style="border-left-color: rgb(76, 108, 155);">
						<div class="hwOptions"><i class="fa fa-circle-o toggleable-check"></i><i class="fa fa-edit"></i>
						</div>
						<div class="hwName"><span><span
									style="background-color: rgb(76, 108, 155); color: rgb(255, 255, 255); padding: 2px;">HW</span>
								Trig Identities</span></div>
						<div class="hwDetails">
							<div><i class="fa fa-calendar-o"></i> Tomorrow </div>
							<div><span class="className"><span
										style="display: inline-block; width: 12px; height: 12px; border-radius: 100%; margin-right: 2px; background-color: #ff40f5;"></span>
									Precalculus 1A</span></div>
						</div>
					</div>
					<div></div>
					<div></div>
					<p class="graphic-time-period">Soon</p>
					<div class="hwItem  " style="border-left-color: #ffa500;">
						<div class="hwOptions"><i class="fa fa-circle-o toggleable-check"></i><i class="fa fa-edit"></i>
						</div>
						<div class="hwName"><span><span
									style="background-color: #ffa500; color: rgb(255, 255, 255); padding: 2px;">ICA</span>
								医院 (🏥) vocab.</span></div>
						<div class="hwDetails">
							<div><i class="fa fa-calendar-o"></i> Tuesday </div>
							<div><span class="className"><span
										style="display: inline-block; width: 12px; height: 12px; border-radius: 100%; margin-right: 2px; background-color: #ff4d40;"></span>
									Mandarin Chinese III</span></div>
						</div>
					</div>
					<div class="hwItem  " style="border-left-color: #2ac0f1;">
						<div class="hwOptions"><i class="fa fa-circle-o toggleable-check"></i><i class="fa fa-edit"></i>
						</div>
						<div class="hwName"><span><span
									style="background-color: #2ac0f1; color: #ffffff; padding: 2px;">ICA</span>
								Teach a class on WWII</span></div>
						<div class="hwDetails">
							<div><i class="fa fa-calendar-o"></i> Thursday </div>
							<div><span class="className"><span
										style="display: inline-block; width: 12px; height: 12px; border-radius: 100%; margin-right: 2px; background-color: #a940ff;"></span>
									World History III</span></div>
						</div>
					</div>
					<div class="hwItem  " style="border-left-color: #2af15e;">
						<div class="hwOptions"><i class="fa fa-circle-o toggleable-check"></i><i class="fa fa-edit"></i>
						</div>
						<div class="hwName"><span><span
									style="background-color: #2af15e; color: rgb(255, 255, 255); padding: 2px;">Study</span>
								for English test.</span></div>
						<div class="hwDetails">
							<div><i class="fa fa-calendar-o"></i> Friday </div>
							<div><span class="className"><span
										style="display: inline-block; width: 12px; height: 12px; border-radius: 100%; margin-right: 2px; background-color: rgb(255, 165, 64);"></span>
									AMLIT: Self Soceity and Cosmos</span></div>
						</div>
					</div>
					<div></div>
					<p class="graphic-time-period">Long Term</p>
					<div class="hwItem" style="border-left-color: #dc143c;">
						<div class="hwOptions"><i class="fa fa-circle-o toggleable-check"></i><i class="fa fa-edit"></i>
						</div>
						<div class="hwName"><span><span
									style="background-color: #dc143c; color: rgb(255, 255, 255); padding: 2px;">Test</span>
								on chapters 1-12</span></div>
						<div class="hwDetails">
							<div><i class="fa fa-calendar-o"></i> Next Thursday </div>
							<div><span class="className"><span
										style="display: inline-block; width: 12px; height: 12px; border-radius: 100%; margin-right: 2px; background-color: rgb(255, 165, 64);"></span>
									AMLIT: Self Soceity and Cosmos</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="planner-feature feature">
	<div class="container fh">
		<div class="row fh">
			<div class="col-md-7 vertical-center fh">
				<div class="display-4">Planner</div>
				<p class="lead">Planner lets you store, tag, and manage your homework, functioning as a complete
					replacement for your paper planner. Planner displays your homework and assignemnts in a familiar
					grid, exactly how you would see it on a paper planner.</p>
			</div>
			<div class="col-md-4 vertical-center fh">
				<p class="giant-icon tar"><i class="fa fa-book fa-fw"></i></p>
			</div>
		</div>
	</div>
</div>
<div class="hw-feature feature">
	<div class="container fh">
		<div class="row fh">
			<div class="col-md-4 vertical-center fh">
				<p class="giant-icon"><i class="fa fa-file-text fa-fw"></i></p>
			</div>
			<div class="col-md-7 vertical-center tar">
				<div class="display-4">Homework</div>
				<p class="lead">Homework sorts your assignments into 4 columns, "Today," "Tomorrow," "Soon," and "Long
					Term," allowing you to focus on your work, without the fear of being blindsided by a far away
					assignment.</p>
			</div>
		</div>
	</div>
</div>
<div class="schedule-feature feature">
	<div class="container fh">
		<div class="row fh">
			<div class="col-md-7 vertical-center fh">
				<div class="display-4">Calendar</div>
				<p class="lead">Calendar lets you schedule your day. It's connected to Planner and Homework, so you can
					easily add all of your assignments. It also downloads your class schedule for you, so you don't have
					to waste time entering when your classes are.</p>
			</div>
			<div class="col-md-4 vertical-center fh">
				<p class="giant-icon tar"><i class="fa fa-calendar fa-fw"></i></p>
			</div>
		</div>
	</div>
</div>
<div id="otherfeatures" class="feature vh100">
	<div class="marquee-left feature-marquee lead">
		<ul class="list-inline">
			<li class="mini-feature list-inline-item">Pick your own background image</li>
			<li class="mini-feature list-inline-item">Assignment Tagging</li>
			<li class="mini-feature list-inline-item">Subject Color Coding</li>
			<li class="mini-feature list-inline-item">Quick Add with NLP</li>
			<li class="mini-feature list-inline-item">Almost 3 years of experience</li>
			<li class="mini-feature list-inline-item">Active development team</li>
		</ul>
	</div>
	<div class="marquee-right feature-marquee lead">
		<ul class="list-inline">
			<li class="mini-feature list-inline-item">Pick your own background color</li>
			<li class="mini-feature list-inline-item">Amazing support team</li>
			<li class="mini-feature list-inline-item">Oops that last one wasn't supposed to be there</li>
			<li class="mini-feature list-inline-item" id="konami"><i class="fa fa-arrow-up"></i><i
					class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i><i class="fa fa-arrow-down"></i><i
					class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-left"></i><i
					class="fa fa-arrow-right"></i>BA</li>
			<li class="mini-feature list-inline-item">Designed by students, for students</li>
			<li class="mini-feature list-inline-item">Active development team</li>
		</ul>
	</div>
	<h1>And even more...</h1>
	<div class="marquee-left feature-marquee lead">
		<ul class="list-inline">
			<li class="mini-feature list-inline-item">All the cool kids use it</li>
			<li class="mini-feature list-inline-item">Amazing support team</li>
			<li class="mini-feature list-inline-item">Imports your schedule</li>
			<li class="mini-feature list-inline-item">Syncs via the <i class="fa fa-cloud"></i></li>
			<li class="mini-feature list-inline-item">Don't worry, it won't rain your data <i
					class="fa fa-cloud-download"></i></li>
			<li class="mini-feature list-inline-item">Use it anywhere you need it</li>
		</ul>
	</div>
	<div class="marquee-right feature-marquee lead">
		<ul class="list-inline">
			<li class="mini-feature list-inline-item"></li>
			<li class="mini-feature list-inline-item">Don't tell anyone I told you</li>
			<li class="mini-feature list-inline-item comic-sans">Oh one more thing... CLIPPY!</li>
			<li class="mini-feature list-inline-item">Sure beats writing everything in Evernote though</li>
			<li class="mini-feature list-inline-item">I don't know what else to tell you.</li>
			<li class="mini-feature list-inline-item">Hmm... that isn't enough features for you to sign up yet?
			</li>
	</div>
	</ul>
</div>
<div id="bottom-get-started">
	<h1>Ready to try it?</h1><br>
	<a href="/app.html" class="btn btn-light btn-lg">Get Started</a>
	<br /><br />
	<small class="fine-print">Developer? MyHomeworkSpace is <a href="https://github.com/myhomeworkspace">open source
			software</a> under the <a href="/license.html">MIT License</a>.</small>
	<small class="fine-print">Worried about your privacy? Read our privacy policy <a
			href="//legal.myhomework.space">here</a>.</small>
</div>
<link rel="stylesheet" href="css/index.css" />
<script src="js/index.js"></script>