<nav class="navbar navbar-inverse navbar-fixed-top" style="display: none;" id="features-navbar">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/img/icon24.png" /> MyHomeworkSpace > Features</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#planner">Planner</a>
				</li>
				<li>
					<a href="#homework">Homework</a>
				</li>
				<li>
					<a href="#calendar">Calendar</a>
				</li>
				<li>
					<a href="#otherfeatures">More</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/app.html">Get started</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="landing">
	<div class="top">
		<div class="jumbotron">
			<div class="container white-bg">
				<h1>Stay organized.</h1>
				<p class="lead">MyHomeworkSpace is an online planner that lets you keep your homework all in one place.</p>
				<a href="/app.html" class="btn btn-primary btn-lg">Get started</a>
			</div>
		</div>
	</div>
</div>
<div class="more-section">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-book fa-fw"></i>
			</div>
			<div class="col-md-11">
				<h1>Planner</h1>
				<p>Planner lets you store, tag, and manage your homework, functioning as a complete replacement for your paper planner.</p>
			</div>
		</div>
	</div>
</div>
<div class="more-section">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-file-text fa-fw"></i>
			</div>
			<div class="col-md-11">
				<h1>Homework</h1>
				<p>Homework sorts your assignments into 4 columns, "Today," "Tomorrow," "Soon," and "Long Term," allowing you to focus on
					your work, without the fear of being blindsided.</p>
			</div>
		</div>
	</div>
</div>
<div class="more-sections">
	<div class="more-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<i class="fa fa-calendar fa-fw"></i>
				</div>
				<div class="col-md-11">
					<h1>Calendar</h1>
					<p>Calendar lets you schedule your day. It's connected to Planner, so you can easily add all of your homework. It also
						downloads your class schedule for you, so you don't have to waste time entering when your classes are.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="more-section bottom-more-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<i class="fa fa-cloud fa-fw"></i>
				</div>
				<div class="col-md-11">
					<h1>Cloud sync</h1>
					<p>All of your information is saved to your account, so you can access it from anywhere with an Internet connection!</p>
				</div>
			</div>
		</div>
	</div>
	<div id="keep-scrolling">
		<h1>
			<i class="fa fa-chevron-circle-down"></i>
		</h1>
	</div>
</div>
<div id="features">
	<div id="planner" class="feature">
		<div class="feature-spotlight">
			<h1>Planner</h1>
			Planner lets you store, tag, and manage your homework, functioning as a complete replacement for your paper planner.
		</div>
	</div>
	<div id="homework" class="feature">
		<div class="feature-spotlight">
			<h1>Homework</h1>
			Homework sorts your assignments into 4 columns, "Today," "Tomorrow," "Soon," and "Long Term," allowing you to focus on your
			work, without the fear of being blindsided.
		</div>
	</div>
	<div id="calendar" class="feature">
		<div class="feature-spotlight">
			<h1>Calendar</h1>
			Calendar lets you schedule your day. It's connected to Planner, so you can easily add all of your homework. It also downloads
			your class schedule for you, so you don't have to waste time entering when your classes are.
		</div>
	</div>
	<div id="otherfeatures" class="feature">
		<div class="marquee-left feature-marquee lead">
			<ul class="list-inline">
				<li class="mini-feature">Pick your own background image</li>
				<li class="mini-feature">Assignment Tagging</li>
				<li class="mini-feature">Subject Color Coding</li>
				<li class="mini-feature">Quick Add with NLP</li>
				<li class="mini-feature">Almost 3 years of experience</li>
				<li class="mini-feature">Active development team</li>
			</ul>
		</div>
		<div class="marquee-right feature-marquee lead">
			<ul class="list-inline">
				<li class="mini-feature">Pick your own background color</li>
				<li class="mini-feature">Amazing support team</li>
				<li class="mini-feature">Oops that last one wasn't supposed to be there</li>
				<li class="mini-feature" id="konami"><i class="fa fa-arrow-up"></i><i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i><i class="fa fa-arrow-down"></i><i class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i>BA</li>
				<li class="mini-feature">Designed by students, for students</li>
				<li class="mini-feature">Active development team</li>
			</ul></div>
		<h1>And even more...</h1>
		<div class="marquee-left feature-marquee lead">
			<ul class="list-inline">
				<li class="mini-feature">All the cool kids use it</li>
				<li class="mini-feature">Amazing support team</li>
				<li class="mini-feature">Imports your schedule</li>
				<li class="mini-feature">Syncs via the <i class="fa fa-cloud"></i></li>
				<li class="mini-feature">Don't worry, it won't rain your data <i class="fa fa-cloud-download"></i></li>
				<li class="mini-feature">Use it anywhere you need it</li>
			</ul>
		</div>
		<div class="marquee-right feature-marquee lead">
			<ul class="list-inline">
				<li class="mini-feature"></li>
				<li class="mini-feature">Don't tell anyone I told you</li>
				<li class="mini-feature comic-sans">Oh one more thing... CLIPPY!</li>
				<li class="mini-feature">Sure beats writing everything in Evernote though</li>
				<li class="mini-feature">I don't know what else to tell you.</li>
				<li class="mini-feature">Hmm... that isn't enough features for you to sign up yet?</li></div>
			</ul>
		</div>
	</div>
</div>
<div id="bottom-get-started">
	<h1>Ready to try it?</h1><br>
	<a href="/app.html" class="btn btn-default btn-lg">Get Started</a>
	<br /><br />
	<small class="fine-print">Developer? MyHomeworkSpace is <a href="https://github.com/myhomeworkspace">open source software</a> under the <a href="/license.html">MIT License</a>.</small>
	<small class="fine-print">Worried about your privacy? Read our privacy policy <a href="//legal.myhomework.space">here</a>.</small>
</div>
<link rel="stylesheet" href="css/index.css" />
<script src="js/index.js"></script>