.onboardingStep0
	.welcome-text
		margin-top: 0

	.heart-beating-container
		text-align: center
		font-size: 32px

		.heart-beating
			animation: pulse 1s infinite ease-in-out alternate


			@keyframes pulse
				0%
					transform: scale(1)
				100%
					transform: scale(1.25)
