.accountMigrateModal
	.modal-body
		div
			text-align: center
			font-size: 1.75rem
			margin-bottom: 0.5rem

		.accountMigrateHeader
			font-size: 2.25rem
			margin-bottom: 1rem

		.accountMigrateCompare
			margin-top: 1.5rem

			.accountMigrateIncorrect, .accountMigrateCorrect
				font-weight: bold

			.accountMigrateIncorrect
				color: red

			.accountMigrateCorrect
				color: green