.loginForm
	.lead
		margin-top: 0
		margin-bottom: 1rem

	.input-group.no-addon
		.form-control
			border-radius: 4px

	.btn
		margin-top: 1rem

	.btn-default
		margin-right: 0.5rem

	.loginInfo
		margin-top: 1rem