html, body, #app
	font-family: 'Lato', sans-serif
	width: 100%
	height: 100%
	overflow: hidden

#app
	background-image: url("/img/backgrounds/bg1.jpg")
	background-size: cover
	transition: background-image ease-in-out 0.3s

.page
	width: 100%
	height: calc(100% - 50px)
	background: rgba(255, 255, 255, 0.9)
	position: absolute
	top: 50px
	left: 0

	padding-left: 10px
	padding-right: 10px

	opacity: 1
	transition: opacity 0.1s, width 0.1s

	overflow-y: auto

.page.hidden, .page.fullPage.hidden
	display: block !important
	opacity: 0
	z-index: -1
