.addActionInfo.addActionHomeworkInfoBlank
	padding-top: 20px
	padding-left: 40px
	padding-right: 40px

	p
		font-size: 16px
	
	.addActionHomeworkInfoExamples
		font-size: 14px
		text-align: left

		span
			font-size: 12px
			color: #555

		ul
			padding-left: 20px

.addActionInfo.addActionHomeworkInfo
	padding: 40px
	text-align: left
	
	.addActionHomeworkInfoName
		font-size: 18px
		min-height: 24px