.addActionInfo
	background: white
	box-shadow: 0 3px 17px 0 rgba(50, 50, 50, 0.75)
	color: black
	position: fixed
	top: 50px
	left: 50%
	margin-left: -200px
	width: 400px
	height: 200px
	z-index: 100
	font-size: 16px
	line-height: 24px
	padding: 10px