.addActionInfo.addActionCalendarInfo
	padding-left: 65px
	padding-right: 65px
	
	.addActionCalendarInfoText
		margin-bottom: 5px
	
	.addActionCalendarInfoBtn:nth-child(2)
		margin-right: 20px

	.addActionCalendarInfoBtn
		border: solid 1px #ccc
		cursor: pointer
		display: block
		float: left
		width: 125px
		height: 125px
		position: relative
		
		.addActionCalendarInfoBtnInfo
			position: absolute
			top: 50%
			width: 100%
			text-align: center
			transform: translateY(-50%)
			
			.addActionCalendarInfoBtnIcon
				font-size: 60px
				margin-top: 5px
				margin-bottom: 5px
			
			.addActionCalendarInfoBtnLabel
				font-size: 17px
				line-height: 1.1
				text-align: center
				
	.addActionCalendarInfoBtn:hover
		background: #ddd