.colorPickerPopup
	top: 39px
	width: 301px

	.colorPickerPopupColor
		border: solid 2px transparent
		border-radius: 100%
		cursor: pointer
		display: inline-block
		margin-right: 10px
		margin-bottom: 5px
		width: 25px
		height: 25px

	.colorPickerPopupColor:hover
		border-color: #aaa

	.colorPickerPopupColor.selected
		border-color: #555