.ColorPickerPopup
	background: white
	border: 1px solid #ccc
	border-radius: 4px
	position: absolute
	top: 39px
	width: 301px
	height: auto
	z-index: 1000
	padding: 10px

	.ColorPickerPopupColor
		border: solid 2px transparent
		border-radius: 100%
		cursor: pointer
		display: inline-block
		margin-right: 10px
		margin-bottom: 5px
		width: 25px
		height: 25px

	.ColorPickerPopupColor:hover
		border-color: #aaa

	.ColorPickerPopupColor.selected
		border-color: #555