.datePickerCalendar
	background: white
	border: 1px solid #ccc
	border-radius: 4px
	position: absolute
	top: 34px
	width: 251px
	height: auto
	z-index: 1000
	
	.datePickerCalendarControls
		font-size: 18px
		height: 35px
		
		.datePickerCalendarControl, .datePickerCalendarControl .btn
			display: inline-block
			text-align: center
			width: 20px
			
		.datePickerCalendarMonth
			display: inline-block
			width: 203px
			text-align: center