.dateHeader
	width: 100%
	height: 35px
	padding-top: 5px
	
	.dateHeaderInfo
		display: inline-block
		float: left
		font-size: 20px
		height: 35px
		line-height: 35px

		.dateHeaderLoading
			margin-left: 4px

	.dateHeaderControls
		float: right

		.dateHeaderControlsToggleType
			margin-right: 4px
	
	.dateHeaderInfoText
		margin-right: 8px
		vertical-align: middle
	
	.pickerContainer
		vertical-align: bottom
		line-height: 1

		.picker
			background: none
			border: none
			box-shadow: none
			font-weight: bold
			padding: 2px 0
			width: 235px

			.pickerOutput
				color: #555
				border-bottom: dashed 2px #555
				padding-bottom: 0.25rem

			.pickerAction
				display: none

		.picker:hover
			.pickerOutput
				color: black
				border-color: black

.darkTheme	
	.pickerContainer
		.picker
			.pickerOutput
				color: #bbb
				border-bottom: dashed 2px #bbb

		.picker:hover
			.pickerOutput
				color: white
				border-color: white