.datePickerCalendarGrid
	padding-left: 2px

	.datePickerCalendarGridItem
		display: inline-block
		text-align: center
		width: 35px
	
	.datePickerCalendarGridItemDay
		border-radius: 5px
		font-size: 14px
		cursor: pointer
		height: 30px
		line-height: 30px

	.datePickerCalendarGridItemDay.datePickerCalendarGridItemDayToday
		background: #ffc
		
	.datePickerCalendarGridItemDay.datePickerCalendarGridItemDaySelected
		background: #ccc

	.datePickerCalendarGridItemDay:hover, .datePickerCalendarGridItemDay.datePickerCalendarGridItemDayToday:hover
		background: #eee