.dateHeader
	width: 100%
	height: 35px
	padding-top: 5px
	
	.dateHeaderInfo
		display: inline-block
		float: left
		font-size: 20px
		height: 35px
		line-height: 35px

		.dateHeaderLoading
			margin-left: 4px

	.dateHeaderControls
		float: right

		.dateHeaderControlsToggleType
			margin-right: 4px
	
	.dateHeaderInfoText
		margin-right: 8px
		vertical-align: middle
	
	.pickerContainer
		vertical-align: middle

		.picker
			background: none
			padding-top: 2px
			padding-bottom: 2px