.feedbackControlContainer
	position: relative
	
	.feedbackControl
		cursor: pointer
		display: inline-block
		font-size: 14px
		margin-right: 5px
		height: 36px
		padding-left: 5px
		padding-right: 5px
		transition: all 0.2s
		vertical-align: middle
		
		.fa
			font-size: 24px

	.feedbackControl:hover
		background: rgba(220, 220, 220, 0.5)

	.feedbackControl.opened
		background: white
		color: black