.feedbackPopup
	background: white
	color: black
	border: solid 1px #ccc
	border-top: none
	font-size: 14px
	line-height: 1.1
	padding: 5px
	position: absolute
	top: 50px
	right: -1px
	vertical-align: top
	width: 150px
	height: 200px
	overflow: hidden
	transition: all 0.2s ease-in-out
	z-index: 3
	
	.row
		width: 375px
		.feedbackPopupCol
			float: left

	.feedbackPopupHeading
		font-size: 16px
		
	.feedbackPopupFeeling
		width: 135px
		
		.feedbackPopupHeading
			margin-bottom: 5px
		
		.feedbackPopupFeelingOption
			border: solid 1px #555
			border-bottom: none
			cursor: pointer
			padding-top: 7px
			padding-bottom: 7px
			padding-left: 5px
			padding-right: 5px
			width: 135px
		
		.feedbackPopupFeelingOption:nth-child(2)
			border-top-left-radius: 4px
			border-top-right-radius: 4px
		
		.feedbackPopupFeelingOption:nth-child(4)
			border-bottom: solid 1px #555
			border-bottom-left-radius: 4px
			border-bottom-right-radius: 4px
			
		.feedbackPopupFeelingOption:hover
			background: #ddd
			
		.feedbackPopupFeelingOption.selected
			background: #c3c3c3
	
	.feedbackPopupMessageContainer
		padding-left: 25px
		padding-right: 0
		width: 230px

		.feedbackPopupMessage
			height: 125px
			margin-top: 5px
			padding-left: 8px
			padding-right: 8px
			resize: none
		
		.feedbackPopupMessageAction
			margin-top: 5px
			
			div
				float: right
				
			.feedbackPopupMessageActionInfo
				font-size: 11px
				margin-right: 5px
				line-height: 30px
				height: 30px
				
			.feedbackPopupMessageActionClear
				clear: both

.feedbackPopup.feedbackPopupExtended
	width: 375px

.feedbackPopup.feedbackPopupSuccess
	.feedbackPopupHeading
		font-size: 18px
		margin-bottom: 5px