.homeworkItem
	cursor: default
	background: white
	border-radius: 3px
	border: solid 1px #cbcccd
	border-left-width: 4px
	border-top-left-radius: 0
	border-bottom-left-radius: 0
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2)
	padding: 1rem
	padding-right: 30px
	margin-bottom: 1.2rem
	position: relative
	transition: all 0.2s

	.homeworkItemName
		font-size: 1.6rem

	.homeworkItemOptions
		color: rgb(60, 60, 60)
		font-size: 1.6rem
		opacity: 0
		position: absolute
		right: 10px
		transition: all 0.2s

		i
			margin-left: 4px

		i:hover
			cursor: pointer
			color: rgb(10, 10, 10)

	.homeworkItemDetails
		position: relative
		width: 100%

		div
			margin-top: 0.15rem

		.homeworkItemDescriptionIcon
			position: absolute
			right: -21px
			bottom: 2px
			cursor: pointer
			font-size: 15px

.homeworkItem:hover
	background-color: #dfdfdf
	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2)

	.homeworkItemOptions
		opacity: 1

.homeworkItem.done
	background-color: #d0d0d0

	.homeworkItemName, .hwSubText
		text-decoration: line-through

.homeworkItem.late
	color: red

.darkTheme
	.homeworkItem
		background-color: #444444
		border: #333333

		.homeworkItemOptions
			color: rgb(195, 195, 195)

	.homeworkItem.done
		background-color: #222222

	.homeworkItem:hover
		background-color: #333333