.loginForm
	width: 100%

	.loginFormTitle
		font-size: 3rem
		margin-top: 0
		margin-bottom: 0.5rem

	.lead
		margin-top: 0
		margin-bottom: 1rem

	.input-group
		margin-bottom: 1rem
		width: 100%

		.form-control
			font-size: 2rem
			height: 5rem

		.input-group-addon
			font-size: 1.75rem

	.input-group.no-addon
		.form-control
			border-radius: 4px