@keyframes modal-appear
	0%
		opacity: 0
		transform: scale(0.8)
 	100%
		opacity: 1
		transform: scale(1)

.modal-animation
	animation: modal-appear .3s ease 1
	
.modal.modal-preact
	pointer-events: none
		
	.modal-content
		pointer-events: all