.notificationPopup
	background: white
	font-size: 14px
	line-height: 1.1
	padding: 10px
	position: absolute
	right: -1px
	vertical-align: top
	width: 400px
	overflow: hidden
	transition: all 0.2s ease-in-out
	z-index: 3
	min-height: 190px
	box-shadow: 0 3px 17px 0 rgba(50, 50, 50, 0.75)
	color: black
	top: 50px

	.notificationPopupHeading
		font-size: 16px

	.emptyText
		text-align: center
		width: 100%