.notificationPopup
	background: white
	color: black
	border: solid 1px #ccc
	border-top: none
	font-size: 14px
	line-height: 1.1
	padding: 5px
	position: absolute
	top: 50px
	right: -1px
	vertical-align: top
	width: 400px
	height: 200px
	overflow: scroll
	transition: all 0.2s ease-in-out
	z-index: 3

	.notificationPopupHeading
		font-size: 16px

	.emptyText
		text-align: center
		width: 100%