.prefixedEdit
	position: relative

	.prefixedEditPrefix, .prefixedEditText
		position: absolute

	.prefixedEditPrefix
		pointer-events: none
		line-height: 1.1

	.prefixedEditPrefixBackground
		z-index: 0

	.prefixedEditText
		background: transparent
		z-index: 1

	.prefixedEditPrefixText
		z-index: 2