.timePickerPopup
	background: white
	border: 1px solid #ccc
	border-radius: 4px
	position: absolute
	top: 34px
	width: 151px
	height: auto
	z-index: 1000
	padding: 10px
	
	.btn
		width: 38px

	.row
		margin-left: 0
		margin-right: 0
		
		.col-md-4
			padding-left: 0
			padding-right: 0
			text-align: center
			
	.timePickerPopupNumberRow
		.col-md-4
			height: 30px
			line-height: 30px