.timePickerPopup
	background: white
	border: 1px solid #ccc
	border-radius: 4px
	position: absolute
	top: 34px
	width: 176px
	height: auto
	max-height: 150px
	overflow-y: auto
	z-index: 1000
	padding: 10px

	.timePickerPopupSuggestion
		cursor: pointer
		font-size: 14px
		padding: 2px

		.timePickerPopupSuggestionDuration
			color: #555
			font-size: 12px
			margin-left: 4px

	.timePickerPopupSuggestion:hover
		background: #ddd