.applicationList
	border: solid 1px black
	width: 100%
	overflow-y: scroll

	.application:hover
		background: #ccc

	.application
		box-sizing: content-box
		padding: 10px

		.applicationInfo
			float: left

			.applicationName
				font-size: 18px

			.applicationAuthor
				font-size: 16px

		.applicationControls
			float: right
			line-height: 45px

	.applicationClear
		clear: both

.applicationList.loading, .applicationList.empty
	padding: 1rem