.settingsPage
	width: 100%
	height: calc(100% - 55px)

	.settingsPaneContainer
		display: flex
		overflow-y: auto
		width: 100%
		height: calc(100% - 14px)

		.settingsPaneSelect
			border-right: solid 1px #ccc
			flex: 0 0 20rem

			.settingsPaneOption
				cursor: pointer
				font-size: 1.5rem
				padding: 0.5rem 1rem
				transition: 0.1s all
				user-select: none

			.settingsPaneOption.settingsPaneOptionSelected, .settingsPaneOption.settingsPaneOptionSelected:hover
				border-left: solid 4px #3a98d4
				color: #277aaf
				font-weight: bold

			.settingsPaneOption:hover
				border-left: solid 2px #3a98d4

		.settingsPane
			flex: 1 0 0
			padding: 0 1rem
			overflow-y: auto