.sidebar
	color: white
	width: 100px
	height: calc(100% - 50px)
	position: absolute
	top: 50px
	left: 0
	z-index: 98
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
	overflow: auto
	transition: color 0.2s

.sidebar.inverted
	color: black