.sidebarLink
	padding-top: 10px
	padding-bottom: 10px
	text-align: center
	transition: all 0.2s
	cursor: pointer

	.fa
		display: block
		font-size: 48px

.sidebarLink:hover
	background-color: rgba(220, 220, 220, 0.5)

.sidebarLink.selected
	background-color: rgba(255, 255, 255, 0.9)
	color: rgb(70, 70, 70)

.sidebarLink.tiny
	font-size: 14px
	padding-top: 5px
	padding-bottom: 5px

	.fa 
		display: inline
		font-size: 18px
		margin-right: 4px