.topBar
	color: white
	display: flex
	width: 100%
	height: 55px
	position: absolute
	top: 0
	left: 0
	transition: background-color 0.2s
	user-select: none
	z-index: 10

	.topBarName
		display: inline-block
		float: right
		font-size: 16px
		margin-left: 5px
		margin-right: 5px
		height: 55px
		line-height: 55px

	.topBarAction
		display: inline-block
		float: right
		padding: 0 5px
		height: 55px
		line-height: 55px
		text-align: center
		transition: all 0.2s

		.fa
			font-size: 22px
			vertical-align: sub

	.topBarToggleContainer
		display: none

	.topBarAction:hover
		background-color: rgba(220, 220, 220, 0.5)
		cursor: pointer

	.topBarToggle
		display: none

.topBar.dimmed
	background-color: rgba(0, 0, 0, 0.6)

.topBar.inverted
	color: black

.topBarDropdownMainTabs
	display: none

@media (max-width: 600px)
	.topBar
		.topBarToggle
			display: inline-block

		.topBarToggleContainer
			display: none
			color: black
			background: rgba(255, 255, 255, 0.9)
			border-bottom: solid 2px #cccccc
			position: absolute
			top: 55px
			width: 100%
			height: auto

			.topBarDropdownContainer
				display: block

				.topBarDropdown
					display: block
					padding: 0

					.pickerAction
						float: none
						text-align: left

			.topBarName
				float: none
				padding: 0 0.5rem

		.topBarButton:not(.pickerContainer)
			display: block

		.topBarGroup
			.topBarButton, .topBarName, .topBarLogout
				display: none

		.topBarDropdownMainTabs
			display: none

	.topBar.open
		.topBarToggleContainer
			display: block	

@media (max-width: 1024px)
	.topBarButton:not(.pickerContainer)
		display: none

	.topBarDropdownMainTabs
		display: block