.topBarDropdownContainer
	width: auto

	.topBarDropdown
		border: none
		padding: 0
		width: auto

	.topBarDropdownPopup
		background: white
		border: 1px solid #ccc
		border-radius: 4px
		box-shadow: 0 2px 4px rgba(0,0,0,0.18)
		color: #333
		cursor: default
		font-size: 1.5rem
		line-height: 1.5
		text-align: left
		padding: 0.6rem
		z-index: 1000

		position: absolute
		top: 50px
		left: 0
		width: 150px
		height: auto

		.topBarDropdownOption
			cursor: pointer
			margin-bottom: 0.2rem
			padding: 0.2rem

		.topBarDropdownOption:hover
			background: #ddd