.addClass
    width: 100%
    line-height: 30px
    font-size: 16px
    border: 5px dashed #bbbbbb
    text-align: center;
    transition: border-color .2s
    cursor: pointer
    border-radius: 3px

.addClass:hover
    border-color: #666666