.classSwapModal
    .classSwapOption
        border: solid 1px #333
        cursor: pointer
        font-size: 16px
        padding: 10px 5px
        margin-bottom: 10px
        width: 300px
        transition: all 0.2s

    .classSwapOption:hover
        background: #ddd