.classesPage
	display: flex
	width: 100%
	height: 100%

	.classesPageList
		flex: 0 0 25%
		border-right: 1px solid black
		height: 100%
		overflow-y: auto
		padding-right: 10px

	.classesPageDetails
		padding-left: 10px
		flex: 0 0 75%

	.noClassSelected
		text-align: center
		padding-top: 100px