.classesPage
	.classesList
		border-right: 1px solid black

	.noClassSelected
		text-align: center;
		line-height: calc(100vh - 50px)

.classesPage, .columns, .classesList
	min-height: calc(100vh - 50px)