.classItem
	padding: 0.8rem
	position: relative
	transition: all 0.2s
	cursor: pointer

	.className
		font-size: 16px
		font-weight: 500
		margin-bottom: 0

.classItem:hover
	background-color: #e0e0e0

.classItem.selected
	background-color: #d0d0d0