.classModal
	.form-control
		width: 300px

	.colorPickerContainer
		float: left

	.classModalName
		font-size: 18px
		width: 235px
		height: 39px

	.classColorClear
		clear: both

	.classModalTeacher
		font-size: 14px