.accountPane
	.accountGroup
		h4
			margin-top: 3rem

		h5
			font-size: 16px

		.profileBox
			border: 1px solid black
			padding: 10px
		
			.name
				margin: 0

			.email
				margin: 0
				margin-top: 5px

	.accountGroup:first-of-type
		h4
			margin-top: 0

	.schools
		.btn-primary
			margin-bottom: 1rem