.schoolList
	border: solid 1px black

	.schoolItem
		padding: 1rem

		.schoolName
			font-weight: bold

		.schoolActions
			margin-top: 3px

			.btn
				margin-left: 0.5rem
				margin-bottom: 0

		.schoolClear
			clear: both

	.schoolItem:hover
		background: #ddd

.schoolList.none
	padding: 1rem