.mitEnroll
	.form-group
		margin-top: 0.5rem
		margin-bottom: 0.5rem

	.actions
		margin-top: 0.5rem
		text-align: right

		.btn
			margin-left: 5px

	.stage1
		.duoMethods
			label
				font-weight: normal

				input
					vertical-align: bottom

				div
					display: inline-block
					margin-left: 0.5rem
					vertical-align: middle

			label.unsupported
				color: #aaaaaa
				font-style: italic